body
{
    margin: 30px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #DCD8CF;
}

.head
{
    background: #282827;
    border: solid 4px #282827;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Calibri";
    font-size: 20pt;
    text-align: center;
    color: #DCD8CF;

}
.containes
{
    background: #282827;
    padding: 15px;
    border: solid 3px #DCD8CF;
    font-family: "Calibri";
    font-size: 14pt;
    color: #DCD8CF;
}

summary
{    
    padding: 8px;
    margin-bottom: 5px;
    background-color: #E25D33;
    border: solid 3px #DCD8CF;
    color: #E25D33;
}

blockquote
{
    text-align: right;
    font-style: oblique;
}

a {
    color: #E25D33; /* Цвет ccылки в хэде */ 
    text-decoration: none;
}

b

{
    color: #DCD8CF; /* Цвет ссылке в формах */ 
    text-decoration: none;
}

c

{
    color: #E25D33; /* Цвет ссылке в теле */ 
    text-decoration: none;
}

img {
    width: 600px;
    height: 600px;
}
